/* stylelint-disable property-no-vendor-prefix */
.container {
  -webkit-user-select: none; /* Safari, Chrome, iOS, Android */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;

  padding: 16px 12px 0;
}

.separator {
  margin-top: 12px;
}